In [1]:
import nltk

In [2]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [3]:
from nltk.corpus import stopwords
print(stopwords.words('english')[0:10])

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [4]:
import nltk

In [5]:
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [10]:
i='helloworld'
print(i)
print(i[1::2])

helloworld
elwrd

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
print(i[0:2])

he

In [16]:
raw_data=pd.read_csv('SMSSpamCollection.tsv',sep='\t',header=None)
raw_data.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [17]:
label=raw_data[0::2]
label

         0                                                  1
0      ham  I've been searching for the right words to tha...
2      ham  Nah I don't think he goes to usf, he lives aro...
4      ham                I HAVE A DATE ON SUNDAY WITH WILL!!
6     spam  WINNER!! As a valued network customer you have...
8      ham  I'm gonna be home soon and i don't want to tal...
...    ...                                                ...
5558   ham  Ok lor... Sony ericsson salesman... I ask shuh...
5560   ham  Why don't you wait 'til at least wednesday to ...
5562  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5564   ham               Will ü b going to esplanade fr home?
5566   ham  The guy did some bitching but I acted like i'd...

[2784 rows x 2 columns]

In [18]:
import pandas as pd

In [21]:
fullcropus=pd.read_csv('SMSSpamCollection.tsv',sep='\t',header=None)
fullcropus.columns=['label','body_test']
fullcropus.head()

  label                                          body_test
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [26]:
print('no of rows in data {} rows and columns {}'.format(len(fullcropus),len(fullcropus.columns )))

no of rows in data 5568 rows and columns 2

In [30]:
print("Out of {} rows, {} are spam, {} are ham".format(len(fullcropus),
                                                       len(fullcropus[fullcropus['label']=='spam']),
                                                       len(fullcropus[fullcropus['label']=='ham'])))

Out of 5568 rows, 746 are spam, 4822 are ham

In [31]:
import re

re_test = 'This is a made up string to test 2 different regex methods'
re_test_messy = 'This      is a made up     string to test 2    different regex methods'
re_test_messy1 = 'This-is-a-made/up.string*to>>>>test----2""""""different~regex-methods'

In [38]:
re.split('\s',re_test)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [49]:
pep8_test = 'I try to follow PEP8 guidelines --->@ '
pep7_test = 'I try to follow PEP7 guidelines'
peep8_test = 'I try to follow PEEP8 guidelines'

In [52]:
import re

re.findall('[a-z]+[A-Z]+', pep8_test)

[]

In [54]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [55]:
import string

In [57]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '_TemplateMetaclass',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [72]:
from sklearn.feature_extraction.text import CountVectorizer
test="""Soul is a 2020 American computer-animated fantasy comedy-drama film produced by 
    Pixar Animation Studios and released by Walt Disney Pictures. Directed by Pete Docter 
and co-directed by Kemp Powers, the film stars the voices of Jamie Foxx, Tina Fey, 
Graham Norton, Rachel House, Alice Braga, Richard Ayoade, Phylicia Rashad, Donnell 
Rawlings, Questlove, and Angela Bassett. The story follows a middle school music teacher 
named Joe Gardner, who seeks to reunite his soul and his body after they are accidentally 
separated, just before his big break as a jazz musician. Soul is the first Pixar film to 
feature an African-American protagonist.Docter began developing the film in 2016, working 
from his contemplations on the origins of human personalities and the concept of determinism. 
He co-wrote the screenplay with Mike Jones and Powers. The film's producers consulted various 
jazz musicians including Herbie Hancock and Terri Lyne Carrington, and animated its musical sequences 
using the sessions of musician Jon Batiste as reference. Apart from Batiste's original jazz compositions, 
musicians Trent Reznor and Atticus Ross also composed the film's score.Soul premiered at the London 
Film Festival on October 11, 2020. It was set to be theatrically released on November 20 but 
was postponed due to the COVID-19 pandemic. Soul was instead then released direct-to-streaming on Disney+ on 
December 25, and in theaters in countries without the streaming service. It became the first feature-length
film from Pixar not to be given a wide theatrical release and the first to be billed as a Disney+ Original. 
Soul received critical acclaim, with praise for its animation, story, voice acting, and musical score. 
It received multiple awards and nominations. At the 93rd Academy Awards, the film was nominated in three 
categories, winning Best Animated Feature and Best Original Score. The film also won Best Animated Film and
Best Original Score at the Golden Globe Awards, BAFTA Awards, Critics' Choice Awards, and Annie Awards"""


count_vect = CountVectorizer(analyzer=test)

In [73]:
count_vect

CountVectorizer(analyzer='Soul is a 2020 American computer-animated fantasy '
                         'comedy-drama film produced by \n'
                         '    Pixar Animation Studios and released by Walt '
                         'Disney Pictures. Directed by Pete Docter \n'
                         'and co-directed by Kemp Powers, the film stars the '
                         'voices of Jamie Foxx, Tina Fey, \n'
                         'Graham Norton, Rachel House, Alice Braga, Richard '
                         'Ayoade, Phylicia Rashad, Donnell \n'
                         'Rawlings, Questlove...
                         'Best Original Score at the Golden Globe Awards, '
                         "BAFTA Awards, Critics' Choice Awards, and Annie "
                         'Awards',
                binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)